<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd
			    http://www.springframework.org/schema/aop
			    http://www.springframework.org/schema/aop/spring-aop.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx.xsd
			    http://www.springframework.org/schema/mvc
			    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!-- dao config -->
  <!-- config connect pool -->
  <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
    <property name="url" value="jdbc:mysql:///ssm?serverTimezone=UTC"></property>
    <property name="username" value="root"></property>
    <property name="password" value="yuefeiyu"></property>
  </bean>

  <!-- create sqlsession factory -->
  <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory">
    <property name="dataSource" ref="dataSource"></property>
  <!--  scan domain packages and create alias -->
    <property name="typeAliasesPackage" value="com.netease.domain"></property>

<!--  pageHelper plugin  -->
    <property name="plugins">
      <array>
        <bean class="com.github.pagehelper.PageInterceptor">
          <property name="properties">
            <props>
              <prop key="helperDialect">mysql</prop>
              <prop key="reasonable">true</prop>
            </props>
          </property>
        </bean>
      </array>
    </property>
  </bean>

  <!-- scan dao packages and create proxy object of interfaces, injection into container -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="scannerConfigurer">
    <property name="basePackage" value="com.netease.dao"></property>
  </bean>


</beans>